In [2]:
print(1+2)

3

In [3]:
print(1+2*12)

25

In [2]:
# 未成年の場合
print("ジュースで乾杯!")

ジュースで乾杯!

In [7]:
age = 18 # 年齢
if age < 20:
    '''
    # 未成年の場合
    print("ジュースで乾杯!")
else:
    '''
    # 成年の場合
    print("お酒で乾杯!")

お酒で乾杯!

In [8]:
print('こんにちは')
print("今日はいい天気ですね")

こんにちは
今日はいい天気ですね

In [16]:
print(100)
print(0.1)
print(45 + 18)
print(30 - 12)
print(15 * 6)
print(30 / 3)
print(45 % 8)
print(type(30 / 3))
print(45 + 1.8)
print(3 -1.2)
print(15 * 0.6)
print(3 / 0.3)
print(45 % 0.8)
print("今日の天気は" + "晴れ")
print("今日の天気は" + "曇り")
print("降水確率" + str(50) + "%" )

100
0.1
63
18
90
10.0
5
<class 'float'>
46.8
1.8
9.0
10.0
0.1999999999999975
今日の天気は晴れ
今日の天気は曇り
降水確率50%

In [17]:
print("晴れ" * 5)
print("晴れ" + "晴れ" + "晴れ" + "晴れ" + "晴れ")

晴れ晴れ晴れ晴れ晴れ
晴れ晴れ晴れ晴れ晴れ

In [19]:
user_name = "侍太郎"
print(user_name)

user_name = "侍花子"
print(user_name)

侍太郎
侍花子

In [20]:
# 整数型と浮動小数点型の足し算
number1 = 5
number2 = 2.5
print(number1 + number2)

#　文字列型と文字列型の連結
last_name = "侍"
first_name = "太郎"
print(last_name + first_name)

7.5
侍太郎

In [3]:
trapezpod_top = 10
trapezpod_bottom = 20
trapezpod_height = 5
#　台形の面積を計算し、変数に格納
area = (trapezpod_top + trapezpod_bottom) * trapezpod_height / 2
# 結果の出力
print(f"{area} cm\u00b2")

75.0 cm²

In [7]:
user_names = ["侍太郎", "侍一郎", "侍二郎", "侍三郎", "侍四郎"]

#2番目の要素である[侍一郎]という文字列だけを取り出して表示する
print(user_names[1])
#すべての要素を取り出して表示する
print(user_names)
#2番目の要素を更新する
user_names[1] =  "侍花子"

侍一郎
['侍太郎', '侍一郎', '侍二郎', '侍三郎', '侍四郎']

In [15]:
user_names = ["侍太郎", "侍一郎", "侍二郎", "侍三郎", "侍四郎"]

#2番目の要素を更新する
user_names[1] =  "侍花子"

print(user_names[1])
print(user_names)

侍花子
['侍太郎', '侍花子', '侍二郎', '侍三郎', '侍四郎']

In [18]:
user_names = ["侍太郎", "侍一郎", "侍二郎", "侍三郎", "侍四郎"]

# 6番目の要素を追加する
user_names.append("侍五郎")
print(user_names)

# 3番目の要素を削除する
user_names.pop(2) # 0始まりのため、3番目のインデックスは2
print(user_names)

['侍太郎', '侍一郎', '侍二郎', '侍三郎', '侍四郎', '侍五郎']
['侍太郎', '侍一郎', '侍三郎', '侍四郎', '侍五郎']

In [19]:
user_names = ["侍太郎", "侍一郎", "侍二郎", "侍三郎", "侍四郎"]

print(user_names[1]) # 2番目の要素だけを表示

user_names[1] = "侍花子" # 2番目の要素を変更
print(user_names)

user_names.append("侍五郎") # 6番目の要素を追加
print(user_names)

user_names.pop(2) # 3番目の要素を削除（0始まりのため2を指定）
print(user_names)

侍一郎
['侍太郎', '侍花子', '侍二郎', '侍三郎', '侍四郎']
['侍太郎', '侍花子', '侍二郎', '侍三郎', '侍四郎', '侍五郎']
['侍太郎', '侍花子', '侍三郎', '侍四郎', '侍五郎']

In [21]:
country_names = ("日本", "アメリカ", "イギリス", "フランス")

# 3番目の要素である「イギリス」という文字だけを取り出す
print(country_names[2])
# すべての要素を取り出して表示する
print(country_names)

イギリス
('日本', 'アメリカ', 'イギリス', 'フランス')

In [23]:
country_names = ("日本", "アメリカ", "イギリス", "フランス")

# 3番目の要素を取り出す
print(country_names[2])

# すべての要素を取り出す
print(country_names)

イギリス
('日本', 'アメリカ', 'イギリス', 'フランス')

In [26]:
# 1～10までに含まれる素数のセット
prime_numbers = {2, 3, 5, 7}

In [27]:
country_names = {"アメリカ", "イギリス", "日本", "フランス"}

# セット全体を表示
print(country_names)

{'フランス', 'イギリス', '日本', 'アメリカ'}

In [28]:
# 1～10までに含まれる素数のセット（2と5が重複）
prime_numbers = {2, 5, 2, 7, 3, 5, 5 }

# セット全体を表示
print(prime_numbers)

{2, 3, 5, 7}

In [29]:
# 1～10までに含まれる素数のセット（2と5が重複）
prime_numbers = {2, 5, 2, 7, 3, 5, 5 }

# セット全体を表示
print(prime_numbers)

{2, 3, 5, 7}

In [30]:
# 1～10までに含まれる素数のセット
prime_numbers = {2, 3, 5, 7}

# セット全体を表示
print(prime_numbers)

# セットの3番目の要素を表示 ⇒ できないためエラー
print(prime_numbers[2])

{2, 3, 5, 7}

TypeError: 'set' object is not subscriptable

In [31]:
# 1～10までに含まれる素数のセット
prime_numbers = {2, 3, 5, 7}

# セット全体を表示
print(prime_numbers)

prime_numbers.add(11) # 11をセットに追加
print(prime_numbers)

prime_numbers.remove(3) # セットから3を削除
print(prime_numbers)

{2, 3, 5, 7}
{2, 3, 5, 7, 11}
{2, 5, 7, 11}

In [33]:
country_names = {"アメリカ", "イギリス", "日本","フランス"}


# セット全体を表示
print(country_names)

country_names.add("ドイツ")#「ドイツ」を設置に追加
print(country_names)

country_names.remove("イギリス")# セットから「イギリス」を削除
print(country_names)

{'フランス', 'イギリス', '日本', 'アメリカ'}
{'アメリカ', 'フランス', 'イギリス', 'ドイツ', '日本'}
{'アメリカ', 'フランス', 'ドイツ', '日本'}

In [34]:
user_names = ["侍太郎", "侍一郎", "侍二郎", "侍三郎", "侍四郎"]

# 2番目の要素を更新する
user_names[1] = "侍花子"

# 2番目の要素を表示する
print(user_names[1])

侍花子

In [40]:
sports = {1: "サッカー", 2: "野球", 3: "バスケット"}
# キー「2」が重複している
sports = {1: "サッカー", 2: "野球", 2: "バドミントン", 3: "バスケット"}
sports = {1: "サッカー", 2: "バドミントン", 3: "バスケット"}
print(sports)

{1: 'サッカー', 2: 'バドミントン', 3: 'バスケット'}

In [41]:
stationery_prices = {"鉛筆": 70, "ボールペン": 120, "シャープペンシル": 150, "消しゴム": 90}

# ボールペンの価格を取り出して表示
print(stationery_prices["ボールペン"])

120

In [42]:
sports = {1: "サッカー", 2: "野球", 3: "バスケット"}

# キー「2」の値を「バドミントン」に書き換える
sports[2] = "バドミントン"

# キー「4」として「水泳」を追加する
sports[4] = "水泳"

# 連想配列全体を取り出して表示
print(sports)

{1: 'サッカー', 2: 'バドミントン', 3: 'バスケット', 4: '水泳'}

In [43]:
stationery_prices = {"鉛筆": 70, "ボールペン": 120, "シャープペンシル": 150, "消しゴム": 90}

# 「シャープペンシル」を要素ごと削除
stationery_prices.pop("シャープペンシル")

# 連想配列全体を取り出して表示
print(stationery_prices)

{'鉛筆': 70, 'ボールペン': 120, '消しゴム': 90}

In [44]:
# 連想配列を作成
personal_data = {"name": "侍太郎", "age": 36, "gender": "男性"}

# キー「name」の値を表示
print(personal_data["name"])

# 連想配列全体を表示
print(personal_data)

# キー「age」の値を更新
personal_data["age"] = 37

# 新しく要素（キーと値）を追加
personal_data["address"] = "東京都"

# 連想配列全体を表示
print(personal_data)

侍太郎
{'name': '侍太郎', 'age': 36, 'gender': '男性'}
{'name': '侍太郎', 'age': 37, 'gender': '男性', 'address': '東京都'}

In [57]:
# リストの作成
array = ["月曜日は晴れです", "火曜日は雨です", "水曜日は晴れです", "木曜日は晴れです", "金曜日は曇りです", "土曜日は曇りのち雨です", "日曜日は雷雨です"]
print(array[2])
# ディクショナリの作成
dictionary = {"mon": "晴れ", "tue": "雨", "wed": "晴れ", "thu": "晴れ", "fri": "曇り", "sat": "曇りのち雨", "sun": "雷雨"}
print(dictionary["wed"])

水曜日は晴れです
晴れ

In [4]:
num = 50

# 変数numが10より大きいならば、文字列を出力する
if 10 < num:
    print("変数numは10より大きいです")

# 変数numが20より小さいならば、文字列を出力する
if 20 > num:
    print("変数numは20より小さいです")

変数numは10より大きいです

In [5]:
print(45 + 18)# 算術演算子を使った場合の戻り値を出力する
print(45 > 18)# 比較演算子を使った場合の戻り値を出力する

63
True

In [6]:
print("5" == 5)

False

In [8]:
num1 = 5
num2 = "5"

if num1 == int(num2):
    print("num1とnum2は等しいです")

num1とnum2は等しいです

In [46]:
#ランダムな整数を利用するために、randomモジュールをインポート
import random

# 変数numに0～4までのランダムな変数を代入する
num = random.randint(0, 4)

# 変数numの値を出力
print(num)

# 変数numの値が4であれば、『大当たりです』という文字列を出力する
if num == 4:
    print("大当たりです")
elif num == 3:
    print("当たりです")
else:
    print("はずれです")

4
大当たりです

In [49]:
# すべての条件が成り立つ場合にのみ処理を行う（変数numの値が11～29)g
if 10 < num and num < 30:
      print("変数numは10より大きく、30より小さいです")
# 1つで条件が成り立てば処理を行う（変数numの値が10または30）
if num == 10 or num == 30:
     print("変数numは10または30です")

In [62]:
#ランダムな整数を利用するために、randomモジュールをインポート
import random

# 変数numに0～4までのランダムな整数を代入する
num = random.randint(0, 4)

# 変数numの値を出力
print(num)

# すべての条件が成り立つ場合にのみ処理を行う（変数numの値が2）
if 1 < num and num < 3:
    print("変数numは1より大きく、3より小さいです")
else:
    print("and条件が成り立ちませんでした")

# 1つでも条件が成り立てば処理を行う（変数numの値が1または3）
if num == 1 or num == 3:
    print("変数numは1または3です")
else:
    print("or条件が成り立ちませんでした")

1
and条件が成り立ちませんでした
変数numは1または3です

In [78]:
var = 30

# varが3の倍数かつ5の倍数の場合
if var % 3 == 0 and var % 5 == 0:
    print("FizzBuzz")
# varが3の倍数の場合
elif var % 3 == 0:
    print("FIzz")
# varが5の倍数の場合
elif var % 5 == 0:
    print("Buzz")
else:
# 上記のどの場合にも該当しない場合
    print(var)

FizzBuzz